<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Random Passcode Generator</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="~/javascript/no_refresh.js"></script>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div id="main">
        <div id="result">
            <!-- Here we are printing the result from the AJAX response -->
        </div>
        <button>Generate</button>
    </div>
</body>
</html>